 <div class="row">
 		
    	<div style=" user-select: none;color:#fff;font-weight:bold;line-height:46px; max-width:100% ;min-height:46px; background-color:#333333;float:center;">
    		<table  width="100%">
    		<tr width="100%">
    			<td width="8%" align="center"><img src="{{ctrl.iconXStatus}}" height="50" width="50"><a href="./#/ICONX">ICONX</font> </a></td>
        		<td width="15%" bgcolor="#D1D0CE" align="center"> <img src="{{ctrl.renoWalkStatus}}" height="50" width="50" ><a href="./#/RenoWalk">RenoWalk</a><a href ="./#/ServerDetails_RenoWalk"><font color="black">( <u>End Point</u> )</font> </a></td>
        		<td width="8%"  align="center"><img src="{{ctrl.rapidPassStatus}}" height="50" width="50"><a href="./#/RapidPass">RapidPass</a></td>
        		<td width="8%"  align="center"><img src="{{ctrl.hdConnectStatus}}" height="50" width="50" ><a href="./#/HDConnect">HDConnect </a></td>
        		<td width="8%"  align="center"><img src="{{ctrl.leadStatus}}" height="50" width="50" ><a href="./#/LeadMgmt">LeadMgmt </a></td>
        		<td width="8%" align="center"><img src="{{ctrl.ftpStatus}}" height="50" width="50" ><a href="./#/FTPS">HDI Int</a></td>
        		<td width="8%" align="center"><img src="{{ctrl.hdeStatus}}" height="50" width="50" ><a href="./#/HDI">HDE Dashboard</a></td>
        		<td width="8%" align="center"><img src="images/Green.png" height="50" width="50" ><a href="./#/POUpdate">POUpdate</a></td>
        		<td width="8%" align="center"><img src="{{ctrl.ewrApp}}" height="50" width="50" ><a href="./#/EWRApp">Env Work Rules</a></td>
        		<td width="8%" align="center"><img src="{{ctrl.altc}}" height="50" width="50" ><a href="./#/ALTC">ALTC</a></td>
        		<td width="8%" align="center"><img src="images/Green.png" height="50" width="50" ><a href="./#/HRSApps">HRSApps</a></td>
        		<td width="8%" align="center"><img src="{{ctrl.ticketStatus}}" height="50" width="50" ><a href="./#/Tickets">Tickets</a></td>
        		</tr>
        	</table>
    		</div>
    	<div style=" user-select: none;color:#fff;font-weight:bold;line-height:46px; max-width:100%;background-color:#FFFFFF;min-height:46px; float:center;">
    		<table  width="95%" align="center">
    		<tr width="100%" align="center">
    			<td width="50%" align="left"><font color="#000000">{{ctrl.lastUpdatedMonitoringMsg}}</font></td>
        		<td width="50%" align="right"><a href="./#/DailySales">Sales(<font color="#000000  ">${{ctrl.totalSalesAmt.toLocaleString("en-US")}}</font>): P:(<font color="#000000">${{ctrl.pipelineAmt.toLocaleString("en-US")}}</font>) (+) R:(<font color="#000000">${{ctrl.recSaleAmt.toLocaleString("en-US")}}</font>)</a></td>
        		</tr>
        	</table>
    		</div>
    			<div style=" user-select: none;font-weight:bold;line-height:46px; max-width:100% ;min-height:46px; background-color:#F5F5F5;float:center;">
    			<table  width="97%" align="right">
    			
    		<tr width="100%" align="right">
    		
        		</tr>
        		<tr>
        			<td>
        				Status :
        				<img src="images/Green.png" height="50" width="50" > Latancy  < 4000 ms &nbsp;
	        			<img src="images/Amber.png" height="50" width="50" >Latancy  > 4000 ms & < 5000 ms	&nbsp;
	        			<img src="images/Red.png" height="50" width="50" >Latancy  > 5000 ms
	    			<td>
        		</tr>
             </tr>		
        	</table>
    		</div>
    		 <div class="col-md-12" data-ng-if="ctrl.treeData.length > 0" style="margin-left:1%">
                <collapsible-tree data="ctrl.treeData"></collapsible-tree>
            </div>
        </div>
         <div class="row" data-ng-if="ctrl.appSelected">
         	<div class="col-md-3"></div>
         	<div class="col-md-6" style="text-align: center">
         		<h2 style="color:#fff;font-weight:bold;line-height:46px;min-height:46px;text-shadow: 0px 0px;margin-bottom:10px; background-color: #F96302;float:center;">{{ctrl.selectedApp}}</h2>
         	</div>
         	<div class="col-md-3">
         		<input type="button" class="md-button" style="margin-top: 5px;color: white;font-size: 27px !important;background-color: #F96302;" data-ng-click="ctrl.viewChangeFn()" value="{{ctrl.viewChange ? 'Latency' : 'Status'}}">
         	</div>
         </div>
           <div class="row" data-ng-if="ctrl.appSelected && !ctrl.viewChange">
         	<div class="col-md-5"></div>
         	<div class="col-md-2">
         		<h4 align="center" style="color:white;font-weight:bold; background-color: #2ca02c; ">All Times are in EST</h4>
         	</div>
         	<div class="col-md-5"></div>
         </div>
        <div class="row" data-ng-if="ctrl.appSelected && ctrl.viewChange" id="donutId">
            <div class="col-md-4" style="text-align: center">
                <h3 style="color:black;font-weight:bold">{{ctrl.hourDonutDataTitle}}</h3>
            </div>
            <div class="col-md-4" style="text-align: center">
                <h3 style="color:black;font-weight:bold">{{ctrl.dayDonutDataTitle}}</h3>
            </div>
            <div class="col-md-4" style="text-align: center">
                <h3 style="color:black;font-weight:bold">{{ctrl.weekDonutDataTitle}}</h3>
            </div>
            <div class="col-md-4" style="text-align: center">
                <nvd3 options="ctrl.getHourDonutOptions" data="ctrl.hourDonutData"></nvd3>
            </div>
            <div class="col-md-4">
                <nvd3 options="ctrl.getDayDonutOptions" data="ctrl.dayDonutData"></nvd3>
            </div>
            <div class="col-md-4">
                <nvd3 options="ctrl.getWeekDonutOptions" data="ctrl.weekDonutData"></nvd3>
            </div>
        </div>
        <div class="row" data-ng-if="ctrl.appSelected && !ctrl.viewChange" id="latencyId">
            <div class="col-md-4" style="text-align: center">
                <h3 style="color:black;font-weight:bold" ng-if="ctrl.cumulativeLineChartHourData" >{{ctrl.cumulativeLineChartHourDataTitle}}</h3>
            </div>
            <div class="col-md-4" style="text-align: center">
                <h3 style="color:black;font-weight:bold" ng-if="ctrl.cumulativeLineChartDayData">{{ctrl.cumulativeLineChartDayDataTitle}}</h3>
            </div>
            <div class="col-md-4" style="text-align: center">
                <h3 style="color:black;font-weight:bold" ng-if="ctrl.cumulativeLineChartWeekData">{{ctrl.cumulativeLineChartWeekDataTitle}}</h3>
            </div>
            <div class="col-md-4">
                <nvd3 options="ctrl.getHourLineChartOptions" data="ctrl.cumulativeLineChartHourData"></nvd3>
            </div>
            <div class="col-md-4">
                <nvd3 options="ctrl.getDayLineChartOptions" data="ctrl.cumulativeLineChartDayData"></nvd3>
            </div>
            <div class="col-md-4">
                <nvd3 options="ctrl.getWeekLineChartOptions" data="ctrl.cumulativeLineChartWeekData"></nvd3>
            </div>
             <div style="text-align: center">
                <h3 style="color:black;font-weight:bold" ng-if="ctrl.cumulativeLineChartMonthData" >{{ctrl.cumulativeLineChartMonthDataTitle}}</h3>
            </div>
             <div>
                <nvd3 options="ctrl.getMonthLineChartOptions" data="ctrl.cumulativeLineChartMonthData"></nvd3>
            </div>
             <div style="text-align: center">
                <h3 style="color:black;font-weight:bold" ng-if="ctrl.cumulativeLineChartErrorData" >{{ctrl.cumulativeLineChartErrorDataTitle}}</h3>
            </div>
             <div>
                <nvd3 options="ctrl.getErrorLineChartOptions" data="ctrl.cumulativeLineChartErrorData"></nvd3>
            </div>
       		 </div>
            
        </div>